@charset "utf-8";

/* Estilo geral */

* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
	background-color: rgb(20, 20, 20);
}

main{
	min-height: 15vw;
	background-color: bisque;
}

form{
	margin: 0.5vw;
}

.topo{
	width: 100%;
	height: 15vw;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: aliceblue;
}

a{
	text-decoration: none;
	font-size: 2vw;
}

p{
	font-size: 1.5vw;
}

h1{
	font-size: 2.7vw;
}

/* Estilo do carrossel de imagens */

.colecao-linhas{
	border-top: 0.3vw solid #373737;
	
}

.colecao-nome{
	margin: 0.5vw;
}

.colecao-img{
	text-align: center;
	margin: 0 0.1vw 0 0.1vw;
	height: 20vw;
	width: 20vw;
}

.colecao-img-overlay{
	opacity: 0;
	max-width: 100%;
	height: 100%;
	transition: 0.5s;
	position:relative;
}

.colecao-img-overlay:hover{
	opacity: 1;
	background: linear-gradient(to bottom, rgba(255,0,0,0), rgb(20, 20, 20));
}

.colecao-img span{
	position: absolute;
    bottom: 0;
	right: 0;
	left: 0;
}

.colecao-img h1{
	
	color: rgb(201, 201, 201);
}

/* Estilo da grade de eventos */

.evento-conteiner{
	border-top: 0.3vw solid #373737;
}

.evento-titulo{
	text-align: center;
	margin: 0.5vw;
}

.evento-grid{
	text-align: center;
	width: 100%;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, 26vw);
	gap: 0.2vw;
}

.evento-img{
	text-align: center;
	margin: 0 0.1vw 0 0.1vw;
	height: 26vw;
}

.evento-img-overlay{
	opacity: 0;
	max-width: 100%;
	height: 100%;
	transition: 0.5s;
	position:relative;
}

.evento-img-overlay:hover{
	opacity: 1;
	background: linear-gradient(to bottom, rgba(255,0,0,0), rgb(20, 20, 20));
}

.evento-img span{
	position: absolute;
    bottom: 0;
	right: 0;
	left: 0;
}

.evento-img h1{
	position: relative;
	top: 70%;
	color: rgb(201, 201, 201);
}

/* Estilo do rodapé */

footer{
	padding: 10px;
	border-top: 10px solid #373737;
	background-color: #263340;
	width: 100%;
	min-height: 12vw;
	color: white;
}

.rodape{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.rodape-item{
	display: flex;	
	text-align:center;
}

.rodape-item img{
	max-width: 50px;
	max-height: 50px;
}

.rodape-item a{
	margin-left: 0.3vw;
	color: white;
}

/* Responsividade */

@media screen and (max-width: 500px) {
	.colecao-img{
		height: 40vw;
		width: 40vw;
	}
	.evento-grid{
		grid-template-columns: repeat(2, 50vw);
		gap: 0.1vw;
	}
	.evento-img{
		height: 50vw;
	}
}